#{{ ansible_managed }}
---
clouds:
  {{ openio_keystone_cloudname }}:
    auth:
      username: admin
      project_name: admin
      password: {{ openio_keystone_services_to_bootstrap | selectattr('name', 'match', '^keystone$') | map(attribute='password') | list | first }}
      auth_url: {{ openio_keystone_services_to_bootstrap | selectattr('name', 'match', '^keystone$') | map(attribute='publicurl') | list | first }}/v3/
      user_domain_name: Default
      project_domain_name: Default
    identity_api_version: 3
    #region_name: RegionOne
...
